@tailwind base;
@tailwind components;
@tailwind utilities;

main> :first-child {
    z-index: 1;
}

/* Transitions */
.prev-enter-active,
.prev-leave-active,
.next-enter-active,
.next-leave-active {
    transition: all 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.next-enter-to {
    position: absolute;
    right: 0;
}

.next-enter-from {
    position: absolute;
    right: -100%;
}

.next-leave-to {
    position: absolute;
    left: -100%;
}

.next-leave-from {
    position: absolute;
    left: 0;
}

.prev-leave-to {
    position: absolute;
    right: -100%;
}

.prev-leave-from {
    position: absolute;
    right: 0;
}

.prev-enter-to {
    position: absolute;
    left: 0;
}

.prev-enter-from {
    position: absolute;
    left: -100%;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}